html,
body {
  font-family: "Patrick Hand SC", cursive;
  color: #71350b;
  background-color: #f5daac;
  height: 100%;
}

body {
  margin: 0;
}

#logo {
  color: white;
  font-size: 35px;
  text-decoration: none;
  line-height: 80px;
  font-weight: bold;
}

i {
  color: white;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

nav {
  z-index: 1;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #71350b;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 0 1rem;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 17px;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-bottom: #71350b 2px dashed;
}

#subtitle {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  font-size: 2rem;
}

#mainTitle {
  font-size: 4rem;
  text-align: center;
}

#heroImage {
  width: auto;
  height: 30%;
}

.sectionHeading {
  font-size: 3rem;
  text-align: left;
}

.sectionParagraph {
  font-size: 1.5rem;
  text-align: left;
}

.arrowDown {
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  fill: #71350b;
}

.nextSectionTitle {
  margin-top: 0;
}

.arrowDown,
.nextSectionTitle {
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.sectionImage {
  margin: 0 auto;
  max-width: 200px;
  height: auto;
}

.heart {
  animation: 2s infinite beatHeart;
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.gridGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.gridGallery img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  white-space: nowrap;
}

.websiteLinks {
  font-size: 1.5rem;
  text-align: left;
  list-style-type: none;
}
.websiteLinks a {
  text-decoration: underline;
  color: #333333;
  margin: 0 5px;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
}

footer {
  height: 60px;
}
footer p {
  text-align: center;
  padding-top: 4px;
}

@media (max-width: 1250px) {
  #logo {
    font-size: 30px;
  }

  nav ul li a {
    font-size: 15px;
  }

  .gridGallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    background-color: #71350b;
    top: 80px;
    left: -100%;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

@media (min-width: 1080px) {
  .section {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}
