html {
  font-family: "Patrick Hand SC", cursive;
  color: #71350b;
}

body {
  margin: 0;
  height: 100%;
}

#mainTitle {
  font-size: 4rem;
}

.section {
  background-color: #f5daac;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#grootDancing {
  width: auto;
  height: 30%;
  /* object-fit: cover;
  object-position: center; */
}

#subtitle {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.arrowDown {
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  fill: #71350b;
}

.nextSectionTitle {
  margin-top: 0;
}

.arrowDown,
.nextSectionTitle {
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
